<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.connection.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.home.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.client.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.car.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/cars</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MotorBikeServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.motorbike.MotorBikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MotorBikeServlet</servlet-name>
    <url-pattern>/motorBikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UtilityCarServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.utilitycar.UtilityCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilityCarServlet</servlet-name>
    <url-pattern>/utilityCars</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.reservation.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectVehicleServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.selectvehicle.SelectVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectVehicleServlet</servlet-name>
    <url-pattern>/selection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidationServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.validation.ValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationServlet</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarAjaxServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.car.CarAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarAjaxServlet</servlet-name>
    <url-pattern>/carsajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UtilityCarAjaxServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.utilitycar.UtilityCarAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilityCarAjaxServlet</servlet-name>
    <url-pattern>/utilitycarsajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MotorBikeAjaxServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.motorbike.MotorBikeAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MotorBikeAjaxServlet</servlet-name>
    <url-pattern>/motorbikesajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationAjaxServlet</servlet-name>
    <servlet-class>com.campusnumerique.vehiclerental.servlet.reservation.ReservationAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationAjaxServlet</servlet-name>
    <url-pattern>/reservationajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clients_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/clients.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>cars_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/cars.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>motorBikes_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/motorBikes.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>utilityCars_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/utilityCars.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>reservation_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/reservation.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>selectVehicle_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/selectVehicle.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>validation_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/validation.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>home_VUE</servlet-name>
    <jsp-file>/WEB-INF/pages/home.jsp</jsp-file>
  </servlet>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/pages/error.jsp</location>
  </error-page>
</web-app>